body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #76D7C4;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 40px;
}

nav {
    background-color: #76D7C4;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
}

.menu button {
    background-color: #76D7C4;
    font-size: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    flex: 2; /* Takes up 2/3 of the width */
    box-sizing: border-box;
    padding: 10px;
}

.left-column p {
    font-size: 16px;
    line-height: 1.6;
}

.right-column {
    flex: 1; /* Takes up 1/3 of the width */
    box-sizing: border-box;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.column img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #76D7C4;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}